<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9ua6jir7Eub3mNBEkeqgVQl-GHJUf1E4</string>
	<key>GCM_SENDER_ID</key>
	<string>214563835042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.widetechnology.royake</string>
	<key>PROJECT_ID</key>
	<string>roayake-app</string>
	<key>STORAGE_BUCKET</key>
	<string>roayake-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214563835042:ios:a358730e30e0c3c2e11bfb</string>
</dict>
</plist>